*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;}
header
{
height: 80px;
width: 100%;
padding: 0 20px;
background-color: #222;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container img {
    width: 60px;
    height: auto;
}

.logo-container p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
nav ul{
    display: flex;  
    list-style: none;
}
nav ul li {
    padding: 0 15px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #F3F4F6;
    text-align: center;
}
.container{
    margin-top: 40px;
    align-items: center;
}
.container h2 {
    margin-bottom: 10px;
}
.resultat
{font-size: 18px;
background-color: aquamarine;
width: 18%;
margin: auto;}
.adm{
    font-size: 18px;
    color:red;
    margin-top: 15px;
}







footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}

/* Conteneur du footer */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}

/* Section logo */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 18px;
    font-weight: bold;
}

/* Informations du footer */
.footer-info {
    text-align: left;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.footer-info a:hover {
    text-decoration: underline;
}

